.navbar{
  background:#010814;
  padding:25px 60px;
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.logo{
  color:#f5a623;
  font-size:3rem;
  font-style:italic;
  font-weight:bold;
  font-family:Georgia, serif;
}

.nav-links{
  display:flex;
  gap:35px;
}

.nav-links a{
  text-decoration:none;
  color:white;
  font-size:1.5rem;
  font-style:italic;
  font-weight:600;
}

.nav-links a:hover{
  color:#f5a623;
}